# Application
PORT=3000
NODE_ENV=development
UPLOAD_DIR="C:/Users/wnn-dev/Pictures/uploads"

# Database
DATABASE_URL="mysql://username:password@localhost:3306/myapp"

JWT_SECRET="TECINFO_2026_BPW_SECRET"
